@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Page layout ---------------------------------------------------------------*/
body { 
    background-color: #303030;
    color: #ffffff;
    font-family: 'Roboto', sans-serif; 
    font-size: 10pt;
}

.info_box{
    border-radius: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    padding: 2px 20px 20px 20px;
    background-color: #505050;
}

.center_box {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* sw config -----------------------------------------------------------------*/
.sw_config {
	border-radius: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: #707070;
}

.sw_config_port {
	padding-left: 0px;
}

.sw_config_slot {
    display: inline-block;
	border-radius: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
	background-color: #505050;
	border: #ffffff;
}

/* Controls ------------------------------------------------------------------*/
.inp_val {
    width: 100px;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 5px;
    color: #ffffff;
    background: #505050;
    font-size: 12pt;
}

.inp_text {
    width: 200px;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 5px;
    color: #ffffff;
    background: #505050;
    font-size: 10pt;
}

.inp_sw_config {
    width: 30px;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 5px;
    color: #ffffff;
    background: #505050;
    font-size: 12pt;
}

.inp_fpga_upload_file {
    width: 300px;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    color: #ffffff;
    background: #505050;
}

.inp_val_error {
    background: #880000;
}

/* Buttons -------------------------------------------------------------------*/
.square_btn_blue {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 5px;
    color: #ffffff;
    background: #3498DB;
    cursor: pointer;
}

.square_btn_blue:hover {
    color: #fff;
    background: #333;
}

.square_btn_blue:active{
    color: #333;
    background: #eee;
}

.square_btn_orange {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 5px;
    color: #ffffff;
    background: #ffa500;
    cursor: pointer;
}

.square_btn_orange:hover {
    color: #fff;
    background: #333;
}

.square_btn_orange:active{
    color: #333;
    background: #eee;
}

/* LED components ------------------------------------------------------------*/
.led_box {
    width: 600px;
    overflow: hidden;
    border: 1px solid #303030;
}

.led_green {
    display: inline-block;
    width: 10px;
    height: 5px;
    border: 2px solid #404040;
    background: #330;
}

.led_green_on {
    background: #00ff00;
}

.led_red {
    display: inline-block;
    width: 10px;
    height: 5px;
    border: 2px solid #404040;
    background: #330;
}

.led_red_on {
    background: #ff0000;
}

.led_sp {
    display: inline-block;
    width: 10px;
    height: 5px;
}

/* ---- 8SEG ---- */
.led_8seg {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	width: 60px;
	height: 100px;
	border: solid 4px #111;
	background-color: #111;
	overflow: hidden;
}

.led_8seg::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 12px;
	border-top: solid 30px #111;
	border-bottom: solid 30px #111;
	transform: translate(-50%, -50%);
}

.led_8seg_a{
	content: "";
	position: absolute;
	top: 0%;
	left: 50%;
	width: 28px;
	height: 28px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #330;
}

.led_8seg_b{
	content: "";
	position: absolute;
	top: 25%;
	left: 100%;
	width: 28px;
	height: 28px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #330;
}

.led_8seg_c{
	content: "";
	position: absolute;
	top: 75%;
	left: 100%;
	width: 28px;
	height: 28px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #330;
}

.led_8seg_d{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 28px;
	height: 28px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #330;
}

.led_8seg_e{
	content: "";
	position: absolute;
	top: 75%;
	left: 0%;
	width: 28px;
	height: 28px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #330;
}

.led_8seg_f{
	content: "";
	position: absolute;
	top: 25%;
	left: 0%;
	width: 28px;
	height: 28px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #330;
}

.led_8seg_g{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #330;
}

/* LED message board ------------------------------------------------------------*/
.ledText {
    overflow: hidden;
    position: relative;
    padding:5px 0;
    color: #FFB400;
    font-size: 32px;
    font-weight: bold;
    background: #333333;
    margin: 10px;
}

/* CSS3グラデーションでドット感を出す */
.ledText:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#0a0600 1px, transparent 0px), linear-gradient(0, #0a0600 1px, transparent 1px);
	background-image: -webkit-linear-gradient(#0a0600 1px, transparent 0px), -webkit-linear-gradient(0, #0a0600 1px, transparent 1px);
	background-size: 2px 2px;
    z-index: 10;
}

/* CSS3アニメーションでスクロール */
.ledText span {
	display: inline-block;
	white-space: nowrap;
	padding-left: 100%;
	-webkit-animation-name: marquee;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 15s;
	-moz-animation-name: marquee;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 15s;
	animation-name: marquee;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 15s;
}

@-webkit-keyframes marquee {
  from   { -webkit-transform: translate(0%);}
  99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
  from   { -moz-transform: translate(0%);}
  99%,to { -moz-transform: translate(-100%);}
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}
