<!doctype html>
<!-- Jinja2 -->
<html>
	<head>
        <meta charset="utf-8">
		<title>{{ title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/dashboard.js"></script>
        <link rel="stylesheet" href="static/css/default.css">
	</head>
	<body>
		<h2> Flow-in-Cloud Board (on {{host}})</h2> 
		<img border=0 src="static/img/hlab.png" width="200px"><br>
		<b>CAN WE ACCELERATE THE FUTURE ?</b>
		<hr>

		<h3> FiC hostname : {{ host }} </h3>
		<p class="ledText"><span id="conf_memo"></span></p>
		<!---------------- FPGA control box ---------------->
		<div class="info_box">
			<h2>FPGA</h2>

			<h3>Status</h3>
			<span class="square_btn_orange" id="btn_reflesh">REFLESH</span>
			<span id="status_msg"></span>
			<br><br>
			PW_OK : <div class="led_green" id="led_power"></div> /
			DONE : <div class="led_green" id="led_done"></div> /
			CONF : <span id="bit_file_name"></span> /
			CONF TIME : <span id="config_time"></span>
			<hr>

			<h3>Control</h3>
			<div class="square_btn_orange" id="btn_fpga_reset" title="Perform resetting FPGA">FPGA RESET</div>
			<!-- <div class="square_btn_orange" id="btn_fpga_startup">FPGA STARTUP</div> -->
			<div class="square_btn_orange" id="btn_hls_reset" title="Invoke HLS module reset command">HLS MODULE RESET</div>
			<div class="square_btn_orange" id="btn_hls_start" title="Invoke HLS module start command">HLS MODULE START</div>
			<hr>

			<h3>Configure</h3>
			<p>You can upload FPGA *.bit file from here</p>

			<h4>Configuration mode:</h4>
			Selectmap x16 <input type="radio" name="fpga_cfg_mode" value="sm16" checked width="10" height="10" title="Selectmap x16 mode (Normal mode)"> &nbsp;&nbsp;
			Selectmap x16 (PR) <input type="radio" name="fpga_cfg_mode" value="sm16pr" title="Selectmap x16 mode (Partial Reconfiguration)"> &nbsp;&nbsp;
			Selectmap x8 <input type="radio" name="fpga_cfg_mode" value="sm8" title="Selectmap x8 mode (Normal mode)"> &nbsp;&nbsp;
			Selectmap x8 (PR)<input type="radio" name="fpga_cfg_mode" value="sm8pr" title="Selectmap x8 mode (Partial Reconfiguration mode)">
			<br>
			<br>
			Configuration Message: <input type="text" class="inp_text" id="inp_fpga_memo" title="Leave text message for this configuration">

			<form id="frm_fpga_upload">
				<label for="inp_fpga_upload" class="square_btn_blue">
					Browse...
					<input type="file" style="display:none" id="inp_fpga_upload">
				</label>
				<input type="text" value="choose file..." class="inp_fpga_upload_file" id="inp_fpga_upload_file">
				<!--<input type="submit" name="upload" value="upload?">-->
				<div class="square_btn_orange" id="btn_fpga_upload" title="Upload *.bit file and program FPGA">Upload</div>
				<span id="upload_status"></span>
				<img id="upload_spinner" style="visibility:hidden;" border=0 src="static/img/fire.gif" width=32px height=32px>
			</form>

		</div>

		<!---------------- Switch control box ---------------->
		<div class="info_box">
			<h2>Switch</h2>

			<!--
			<h3>SW status</h3>
			Packet counter...
			<hr>
			-->

			<h3>SW Table</h3>
			<form id="frm_table_upload">
				<label for="inp_table_upload" class="square_btn_blue">
					Browse...
					<input type="file" style="display:none" id="inp_table_upload">
				</label>
				<input type="text" value="choose file..." class="inp_fpga_upload_file" id="inp_table_upload_file">
				<div class="square_btn_orange" id="btn_table_upload">Upload</div>
			</form>
			<br>
			<div id="sw_conf" class="sw_config">
				Number of Ports: <input type="text" value="4" class="inp_sw_config" id="inp_sw_ports"> &nbsp;
				Number of Slots: <input type="text" value="1" class="inp_sw_config" id="inp_sw_slots"> <br>
				<div id="sw_conf_table"></div>
			</div>

			<!-- <div class="square_btn_orange" id="sw_recall">RECALL</div> -->
			<a class="square_btn_orange" id="sw_save">SAVE TO FILE</a>
			<div class="square_btn_orange" id="sw_set">SET</div>
			<span id="sw_status"></span>
			<hr>

			<h3>Register Editor</h3>
			Address(hex): <input type="text" value="" class="inp_val" id="inp_reg_addr">
			Value(hex)  : <input type="text" value="" class="inp_val" id="inp_reg_val">
			<div class="square_btn_orange" id="btn_reg_read">READ</div>
			<div class="square_btn_orange" id="btn_reg_write">WRITE</div>

			<br><br>

			<h4>Addr map (8bit) quick ref: </h4>
			0x1000 ... User data <br>
			0xffff ... Status register <br>
			0xfffe ... HLS module register <br>
			0xfffd ... Link Up (RO) <br>
			0xfffc ... DipSW (RO) <br>
			0xfffb ... LED (RW) <br>
			0xfffa ... Ch.up (RW) <br>
			<br>

			<hr>

			<h3>Status</h3>
			Aurora Link-up:&nbsp; <span class="led_green" id="led_linkup"></span> &nbsp; / 
			LED0: <span class="led_red" id="led_0"></span> &nbsp; /
			LED1: <span class="led_red" id="led_1"></span>

			</div>
			<!--
			<div>
				LED status:
				<div class="led_box">
					 LU_CH00 <div class="led_green" id="led_ch00"></div>
					 LU_CH01 <div class="led_green" id="led_ch01"></div>
					 LU_CH02 <div class="led_green" id="led_ch02"></div>
					 LU_CH03 <div class="led_green" id="led_ch03"></div>
					<div class="led_sp"></div>

					LU_CH04	<div class="led_green" id="led_ch04"></div>
					LU_CH05	<div class="led_green" id="led_ch05"></div>
					LU_CH06	<div class="led_green" id="led_ch06"></div>
					LU_CH07	<div class="led_green" id="led_ch07"></div>
					<div class="led_sp"></div>
					<br>
				
					LU_CH08	<div class="led_green" id="led_ch08"></div> 
					LU_CH09	<div class="led_green" id="led_ch09"></div>
					LU_CH10	<div class="led_green" id="led_ch10"></div>
					LU_CH11	<div class="led_green" id="led_ch11"></div>
					<div class="led_sp"></div>
				
					LU_CH12	<div class="led_green" id="led_ch12"></div> 
					LU_CH13	<div class="led_green" id="led_ch13"></div>
					LU_CH14	<div class="led_green" id="led_ch14"></div>
					LU_CH15	<div class="led_green" id="led_ch15"></div>
					<div class="led_sp"></div>
					<br>
                                        
					LU_CH16	<div class="led_green" id="led_ch16"></div>
					LU_CH17	<div class="led_green" id="led_ch17"></div>
					LU_CH18	<div class="led_green" id="led_ch18"></div>
					LU_CH19	<div class="led_green" id="led_ch19"></div>
					<div class="led_sp"></div>
                                        
					LU_CH20	<div class="led_green" id="led_ch20"></div>
					LU_CH21	<div class="led_green" id="led_ch21"></div>
					LU_CH22	<div class="led_green" id="led_ch22"></div>
					LU_CH23	<div class="led_green" id="led_ch23"></div>
					<div class="led_sp"></div>
					<br>
                                        
					LU_CH24	<div class="led_green" id="led_ch24"></div>
					LU_CH25	<div class="led_green" id="led_ch25"></div>
					LU_CH26	<div class="led_green" id="led_ch26"></div>
					LU_CH27	<div class="led_green" id="led_ch27"></div>
					<div class="led_sp"></div>
                                        
					LU_CH28	<div class="led_green" id="led_ch28"></div>
					LU_CH29	<div class="led_green" id="led_ch29"></div>
					LU_CH30	<div class="led_green" id="led_ch30"></div>
					LU_CH31	<div class="led_green" id="led_ch31"></div>
					<div class="led_sp"></div>
					<br>
				</div>
				<br>

				<div>
					<div class="led_8seg" id="led_8seg0">
						<div class="led_8seg_a" id="led_8seg0_a"></div>
						<div class="led_8seg_b" id="led_8seg0_b"></div>
						<div class="led_8seg_c" id="led_8seg0_c"></div>
						<div class="led_8seg_d" id="led_8seg0_d"></div>
						<div class="led_8seg_e" id="led_8seg0_e"></div>
						<div class="led_8seg_f" id="led_8seg0_f"></div>
						<div class="led_8seg_g" id="led_8seg0_g"></div>
					</div>
					<div class="led_8seg" id="led_8seg1">
						<div class="led_8seg_a" id="led_8seg1_a"></div>
						<div class="led_8seg_b" id="led_8seg1_b"></div>
						<div class="led_8seg_c" id="led_8seg1_c"></div>
						<div class="led_8seg_d" id="led_8seg1_d"></div>
						<div class="led_8seg_e" id="led_8seg1_e"></div>
						<div class="led_8seg_f" id="led_8seg1_f"></div>
						<div class="led_8seg_g" id="led_8seg1_g"></div>
					</div>
				</div>
			</div>
			<br>

			<hr>
			<h3>Memory dump</h3>
			-->

		</div>

		<!--
		<div class="info_box">
			<h2>Raspberry Pi status</h2>
			Board ID: 
			CPU TEMP<br>
			CPU CLOCK<br>
			CPU VOLT<br>
			MEMORY <br>
		</div>
		-->

		<hr>

		<div class="center_box">
			<img border=0 src="static/img/nyacom.png"> <br>
			nyacom &copy; 2018
		</div>
	</body>
</html>
